Package: microinit
Version: 0.0.3
Section: admin
Priority: optional
Architecture: amd64
Installed-Size: 19
Maintainer: Nanobox <braxton@pagodabox.com>
Description: Microinit
 A small, proper, init process for docker containers.
Homepage: https://github.com/micropack/microinit
